@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
  background: linear-gradient(180deg, #03102C, #2F8575);
  color: #fff;
}

.courses-container {
  padding: 2rem;
  background: linear-gradient(180deg, #03102C, #2F8575);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courses-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 2rem;
  text-align: center;
}

.courses-grid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 1200px;
}

.course-card {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.course-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 20px rgba(15, 15, 15, 0.2);
}

.course-card h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.75rem;
  color: #fff;
  margin-bottom: 1rem;
  font-weight: 500;
}

.course-card p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1rem;
  color: #ccc;
  margin-bottom: 1.5rem;
}

.open {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1000;

}

.open .sloj {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: top;
  animation: open 1s ease forwards;
}

.open .sloj:nth-child(1) {
  background: #000;
  z-index: 3;
}

.open .sloj:nth-child(2) {
  background: #01102A;
  z-index: 2;
  animation-delay: 1s;
}

.open .sloj:nth-child(3) {
  background: #236962;
  z-index: 1;
  animation-delay: 1.5s;
}

@keyframes open {
  0% {
    transform: scaleY(1)
  }

  100% {
    transform: scaleY(0)
  }
}

.course-card button {
  font-family: 'Quicksand', sans-serif;
  width: auto;
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  color: #03102C;
  background-color: #FFF;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.course-card button:hover {
  background-color: #246f62;
  transform: translateY(-2px);
}

.course-card button:active {
  transform: translateY(1px);
}