@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.container {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/landingPage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.row {
  width: 100%;
  padding: 0px, 80px;
}

.content {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;

  font-size: 45px;
  color: #fff;

}

.content p {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: #fff;
}