.course-container {
    display: flex;
}

.sidebar {
    width: 250px;
    padding: 20px;
    background-color: #f4f4f4;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1000;

}

.open .sloj {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: top;
    animation: open 1s ease forwards;
}

.open .sloj:nth-child(1) {
    background: #000;
    z-index: 3;
}

.open .sloj:nth-child(2) {
    background: #01102A;
    z-index: 2;
    animation-delay: 1s;
}

.open .sloj:nth-child(3) {
    background: #236962;
    z-index: 1;
    animation-delay: 1.5s;
}

@keyframes open {
    0% {
        transform: scaleY(1)
    }

    100% {
        transform: scaleY(0)
    }
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.sidebar ul li a:hover {
    color: #2F8575;
}

.course-content {
    margin-left: 260px;
    padding: 20px;
    flex-grow: 1;
}

.course-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.course-content h2 {
    font-size: 28px;
    margin-top: 20px;
}

.course-content p {
    font-size: 18px;
}